.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerContainer span {
  font-size: 1.5rem;
}

.footerTerms p {
  margin: 0;
  margin-right: 20px;
  cursor: pointer;
}

.footerTerms p:hover {
  text-decoration: underline;
}
