/* register.css */

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formHeading {
  text-align: center;
  margin-bottom: 20px;
}

.formsName {
  display: flex;
  flex-direction: column;
}

.formName {
  margin-bottom: 15px;
}

.formInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formError {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  /* border: none; */
  border: 1px solid #161313;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: #0056b3;
  color: white;
}
